<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    Category: <%= @post.category ? @post.category.name : 'n/a' %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    Tags: <%= @post.tags.present? ? @post.tags.map { |tag| tag.name }.join(', ') : 'n/a' %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    Body: <%= @post.body %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 text-center'>

    <%= link_to 'Back to Posts', posts_path %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Delete', post_path(@post), :method => :delete, :data => { :confirm => 'Delete post?' } %>

  </div>
</div>