<!DOCTYPE html>
<html>
<head>
  <title>Association Practice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='col-xs-6 col-xs-offset-3'>
      <%= bootstrap_flash %>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
